body {
	margin:0px;
	padding:40px;
	font-family:sans-serif;
	text-align:center;
}

#form {
	width:80%;
	box-sizing:border-box;
	min-width:200px;
	max-width:1500px;
	text-align:center;
	padding:10px 10px 40px 10px;
	margin:auto;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-items:flex-start;
	align-content:center;
}
	.option {
		background-color:#1D1F38;
		box-sizing:border-box;
		color:white;
		padding:40px;
		margin:10px;
		border-radius:10px;
		border:1px solid transparent;
	}
	.option:hover {
		background-color:#3E2057;
	}
	.selected  {
		background-color:#CF6393;
		border-color:white;
	}
	.selected:hover {
		background-color:#CF6393;
		border-color:white;
	}
	
h1 {
	color:#15161C;
	font-weight:normal;
	text-align:center;
}
	#room {
		color:#1D1F38;
	}
#submit {
	background-color:#4B3175;
	color:white;
	border:none;
	font-weight:bold;
	font-size:14px;
	padding:10px 20px;
	border-radius:0px;
	transition:1s;
}
	#submit:hover {
		background-color:#3E2057;
		transition:1s;
	}
	
@media all and (max-width:520px) {
	body {
		padding:10px;
	}
	#form {
		display:static;
		width:100%;
	}
	.option {
		width:100%;
		margin:10px 0;
	}
}
@media all and (max-width:900px) {
	body {
		padding:20px;
	}
	#form {
		width:100%;
	}
}
